.categories{
    display:block;
    overflow:auto;
    border-bottom: 2px solid #DDDDDD;
    height: 10vh;
overflow-x: scroll;
box-sizing: border-box;
white-space:nowrap;
width: 100%;
scroll-behavior: smooth;
font-family: Gilroy,sans-serif;
}
.category{
   width: auto;
   height: 9.45vh;
   display: inline-block;
   outline: none;
   border: none;
   background-color: #FFFFFF;
   color: rgb(135,140,155);
   margin: 0vh 2vw;
   text-transform:uppercase ;
  
   font-family: Gilroy,sans-serif;
}
.selected{
    border-bottom: 3px solid rgb(0, 192, 139);
    width: 115%;
}
.categories::-webkit-scrollbar {
    display: none;
}
.categoryheader{
        font-weight: 600;
        background-color: rgb(243, 243, 245);
        box-shadow: rgb(231 232 235) 0px -1px 0px 0px inset;
        text-transform: capitalize;
        line-height: 20px;
        padding: 12px 16px;
        font-size: 18px;
        font-family: Gilroy,sans-serif;
}
.products{
    display: flex;
    flex-direction: column;
    padding:3vh 2vw;
    
}

.product{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5vh;
    
}
.add{
    border: none;
    outline: none;
    border-radius: 20px;
    color: rgb(0, 192, 139);
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 1vh 1vw;
    width: 15vw;
    font-weight: 600;
    font-size: 16px;
    margin: 0vw 1vw;
}
.left{
    display: flex;
    align-items: flex-start;
}

.productdetails{
    margin-bottom: 2vh;
    margin-left: 3vw;
    width: 100%;
}
.productdetails h5{
    font-family: sans-serif;
margin-bottom: 2vh;
font-weight: 600;
font-size: 14px;
}
.productdetails h6{
    font-family: sans-serif;
    opacity:0.5;
margin-bottom: 2vh;
font-size: 14px;
}
.smalladd{
    border: none;
    outline: none;
    background-color: #FFFFFF;
color: rgb(0, 192, 139);
font-size: 18px;
font-weight: 700;
font-family: sans-serif;
}
.smallcad{
    border: none;
    outline: none;
    background-color: #FFFFFF;
color: rgb(0, 192, 139);
font-size: 18px;
font-weight: 700;
font-family: sans-serif;
border: 1px solid #CCCCCC;
}
.added{
    display: flex;
    width: 15vw;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(231, 232, 235);
    padding: 1vh 1vw;
    border-radius: 15px;
    font-weight: 700;
    font-family: sans-serif;
}
.search{
    padding: 2vh 0vw;
}
.minicart{
    padding: 2vh 5vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
font-size: 12px;
font-family: sans-serif;
box-shadow: 5px 10px 8px 10px #DDDDDD;
align-items:center;
z-index:1000000000000000000000;
background-color: #FFFFFF;
}

.cartbtn{
    outline: none;
    border: none;
    background-color:rgb(0, 192, 139);
    color: #FFFFFF;
    padding: 2vmax;
    border-radius: 20px;
    font-weight: 700;
}

.drawerbtns{
    display: flex;
    padding:1vmax;
}
.searched{
    margin: 2vh 5vw;
}
.storesearch{
    margin: 0vh 5vw;
}
.storeys{
    display: flex;
    padding: 1vh 2vw;
    box-sizing: border-box;
}
.singleproduct{
    padding: 1vh 1vw;
    display: flex;
    padding-top: 3vh;
    flex-direction: column;
    margin: 1vh 3vw;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    width: 45vw;
    box-shadow: 1px 1px 1px 1px rgb(228, 227, 227);
    box-sizing: border-box;
}

.pricebtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
width: 100%;
padding: 3vh 2vw;
}