*{
  margin: 0;
  padding: 0;
  font-family: Gilroy,sans-serif;
  -webkit-font-smoothing: antialiased;
}
body{
  font-family: Gilroy,sans-serif;
  -webkit-font-smoothing: antialiased;
}
.navbar{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1vmax;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  z-index: 22222222222222222222222222;
}
.child{
  display: flex;
  align-items: center;
  width: auto;
  min-width: 35%;
  justify-content: space-evenly;
}

.navbarcontainer{
  padding-bottom: 2vh;
  margin-top:5vh;
}
.imagebanner{
  padding: 5vmax;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.imagebanner img{
  border-radius: 1vw;
}
.homeimages{
  display: flex;
  padding: 2vmax;
  justify-content: center;
  flex-wrap: wrap;
}
.belowhomeimages{
  padding: 2vmax;
  display: flex;
}
.belowhomeimages div{
  background-color: #FFFFFF;
box-shadow: rgb(0 0 0 / 6%) 0px 4px 7px;
border: 2px solid #DDDDDD;
width: 20vw;
height: 20vh;
margin: 1vh 1vw;
display: flex;
align-items: center;
border-radius: 2px;
justify-content: center;
flex-direction: column;
font-size: 14px;
}

.stores{
  display: flex;
  overflow: auto;
  padding: 3vh 3vw;
}
.store{
  margin-right: 3vw;
  display:flex;
  flex-direction:column;
  height:auto;
  align-items:center;
  justify-content: center;
  width:33%;
  height:20%;
}
.search{
  border-bottom: 1px solid #DDDDDD;
  height:15vh;
 display: flex;
  padding: 4vh 5vw;
  position: relative;
  box-sizing: border-box;
  align-items: center;
}
.store img{
  width: 100%;
  border: 1px solid #DDDDDD;
  margin-bottom:1vh;
  border-radius:1vh;
}

.homeimages img{
  margin:1vh 1vw;
}
.progress{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stardusts{
  padding: 1vh 2vw;
}

.stardust{
  margin:5vh 3vw;
  display:flex;
  height:auto;
  align-items:center;
  justify-content: flex-start;
  width:100%;
  height:20%;
}
.stardust div{
  height: 100%;
  margin-right: 5vw;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: flex-start;
}
.stardust div h5{
  margin-top: 1vh;
}

.logoutbtn{
  background-color: #FFFFFF;
  outline: none;
  display: flex;
  align-items: center;
  border:1px solid #FFFFFF;
  padding: 1vh 1vw;
}
.aadhaar{
  background-color: #F5FBFF;
  width: 95vw;
  margin: 2.5vw;
padding: 2vh 2vw;
box-sizing: border-box;
}

.aadhaar h5{
  color:#0B5E9D;
}